:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hiden !important;
}

#app canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#hiddenStartButton {
  font-family: "Durango Western Eroded", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  color: white;
  background-color: #333;
  padding: 30px;
  border: none;
  cursor: pointer;
}

#hiddenStartButton:hover {
  background-color: #555;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0;
  z-index: 9999;
  font-family: Arial, sans-serif;
}

#gameInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 9999;
  font-family: "Durango Western Eroded", sans-serif;
  padding: 50px 20px;
  margin: 0;
  overflow-y: auto;
}

.game-info-container,
.autoplay-container {
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-image: url("../assets/images/info-bg-800-1200.jpg"),
    linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.black-line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.star {
  font-size: 1.7em;
  line-height: 0.1em;
}

.hand {
  max-width: 80px;
  width: 100%;
  margin-bottom: 0px;
}

.hand-left {
  transform: scaleX(-1);
}

#wanted-image {
  max-height: 250px;
  width: auto;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

.payline-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.payline {
  width: 150px;
  height: auto;
  margin: 10px;
  text-align: center;
}

.payline img {
  width: 100%;
  height: auto;
}

.payline span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.symbols-container {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.symbol {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.symbol img {
  width: 150px;
  height: 100%;
  max-height: 150px;
  object-fit: contain;
}

.symbol-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#closeGameInfoBtn {
  background: transparent;
  border: 2px solid black;
  padding: 2px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

#closeGameInfoBtn:hover {
  background: #daa520;
  cursor: pointer;
}

.special-char {
  font-family: sans-serif;
  font-size: 18px;
  vertical-align: text-bottom;
}

#poster-x {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}

#poster-x::before,
#poster-x::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 4px;
  background-color: black;
  transform-origin: center;
}

#poster-x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#poster-x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#poster-x:hover::before,
#poster-x:hover::after {
  background-color: #f0b000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#poster-x:hover {
  cursor: pointer;
}

/* Autoplay modal */

#autoplayModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  display: none;
  flex-direction: column;
  /* justify-content: flex-start; */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: "Durango Western Eroded", sans-serif;
  padding: 50px 20px;
  margin: 0;
  overflow-y: auto;
}

#startAutoplayBtn,
.autoplayBtn {
  background: transparent;
  border: 2px solid #000;
  padding: 2px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  transition: 0.2s ease;
  outline: none !important;
  transform: scale(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.autoplayBtn.active {
  background: #daa520;
  border-color: #000;
  outline: 2px solid transparent;
}

.autoplayBtn.active:hover {
  background: #daa520;
  border-color: #000;
  transform: scale(0.95);
}

#startAutoplayBtn {
  width: auto;
}

.autoplayBtn {
  width: 70%;
}

#startAutoplayBtn:hover,
.autoplayBtn:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.autplay-btn-disabled {
  opacity: 0.5 !important;
  pointer-events: none;
}

.autplay-btn-disabled:hover {
  transform: scale(1) !important;
}

.mt-30 {
  margin-top: 30px;
}

h1 {
  font-size: 5.2em;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 {
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h6 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
  cursor: pointer;
  transition: color 0.25s;
}
a:hover {
  color: #f0b000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

@media (max-width: 520px) {
  .hand {
    max-width: 35px;
    margin-bottom: 15px;
  }

  .star {
    font-size: 1.5em;
  }

  .star-group {
    display: block;
  }
}
